@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #011425;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--background);
  background-image: url(../assets/BlueDot.png);
  background-position: 200px -30px;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}
